<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{url_for('static', filename='styles.css')}}">
</head>

<body>
    <div class="container">
        <h2>Supplier</h2>
        <p>Enter the Meter ID to retrieve the meter reading:</p>

        <form action="/supplier_result" method="post">
            <p><label>Meter ID: <input type="text" name="meter_id" required></label></p>
            <p><input type="submit" value="Check Usage"></p>
        </form>

        <form action="/" method="get">
            <p><input type="submit" value="Back"></p>
        </form>
    </div> 
</body>